/* ** Archetype Pick ** */

.sweet-archetype {
  .sweet-modal {
    max-width: 960px;

    .archetypePick {
      border: 1px solid transparent;
      cursor: pointer;

      :hover {
        //border: 1px solid var(--orange-ts);
      }

      > div {
        padding: 20px 0 20px 75px;
        position: relative;
        text-align: left;
        color: var(--black);
        font-weight: bold;
        margin: 15px 0;
        @include transition(0.3s linear all);

        &:hover {
          margin-top: 5px;
          @include transition(all 0.15s linear);
        }

        &:focus {
          outline: none;
        }

        &:active {
          @include transition(all 0.15s linear);
          margin-top: 24px;
          margin-bottom: 0;
        }

      }

      .aggro {
        background-color: var(--red-ts);
        box-shadow: 0 10px darken(var(--red-ts), 10%);

        &::before {
          content: '';
          width: 60px;
          height: 60px;
//          background: url('../../assets/style-aggro.svg') -10px -10px no-repeat;
          position: absolute;
          display: block;
          top: 12px;
          left: 20px;
        }

        &:hover {
          box-shadow: 0 20px darken(var(--red-ts), 10%);
        }

        &:active {
          box-shadow: 0 2px darken(var(--red-ts), 10%);
        }

      }

      .midrange {
        background-color: var(--green-ts);
        box-shadow: 0 10px darken(var(--green-ts), 10%);

        &::before {
          content: '';
          width: 60px;
          height: 60px;
//          background: url('../../assets/style-midrange.svg') -10px -10px no-repeat;
          position: absolute;
          display: block;
          top: 12px;
          left: 20px;
        }

        &:hover {
          box-shadow: 0 20px darken(var(--green-ts), 10%);
        }

        &:active {
          box-shadow: 0 2px darken(var(--green-ts), 10%);
        }
      }

      .control {
        background-color: var(--blue-ts);
        box-shadow: 0 10px darken(var(--blue-ts), 10%);

        &::before {
          content: '';
          width: 57px;
          height: 80px;
//          background: url("../../assets/style-control.svg") -9px 0 no-repeat;
          position: absolute;
          display: block;
          top: 2px;
          left: 20px;
        }

        &:hover {
          box-shadow: 0 20px darken(var(--blue-ts), 10%);
        }

        &:active {
          box-shadow: 0 2px darken(var(--blue-ts), 10%);
        }
      }

      .combo {
        background-color: var(--orange-ts);
        box-shadow: 0 10px darken(var(--orange-ts), 10%);

        &::before {
          content: '';
          width: 59px;
          height: 70px;
//          background: url("../../assets/style-combo.svg") -12px 0 no-repeat;
          position: absolute;
          display: block;
          top: 0;
          left: 20px;
        }

        &:hover {
          box-shadow: 0 20px darken(var(--orange-ts), 10%);
        }

        &:active {
          box-shadow: 0 2px darken(var(--orange-ts), 10%);
        }
      }
    }
  }
}
