/* ** Archetype Pick ** */

.sweet-archetype {
  .sweet-modal {
    max-width: 960px;

    .archetypePick {
      border: 1px solid transparent;
      cursor: pointer;

      :hover {
        border: 1px solid $orange-ts;
      }

      > div {
        padding: 20px 0 20px 75px;
        position: relative;
        text-align: left;
        color: $black;
        font-weight: bold;
        margin: 15px 0;
        @include transition(0.3s linear all);

        &:hover {
          margin-top: 5px;
          @include transition(all 0.15s linear);
        }

        &:focus {
          outline: none;
        }

        &:active {
          @include transition(all 0.15s linear);
          margin-top: 24px;
          margin-bottom: 0;
        }

      }

      .aggro {
        background-color: $red-ts;
        box-shadow: 0 10px darken($red-ts, 10%);

        &::before {
          content: '';
          width: 60px;
          height: 60px;
//          background: url('../../assets/style-aggro.svg') -10px -10px no-repeat;
          position: absolute;
          display: block;
          top: 12px;
          left: 20px;
        }

        &:hover {
          box-shadow: 0 20px darken($red-ts, 10%);
        }

        &:active {
          box-shadow: 0 2px darken($red-ts, 10%);
        }

      }

      .midrange {
        background-color: $green-ts;
        box-shadow: 0 10px darken($green-ts, 10%);

        &::before {
          content: '';
          width: 60px;
          height: 60px;
//          background: url('../../assets/style-midrange.svg') -10px -10px no-repeat;
          position: absolute;
          display: block;
          top: 12px;
          left: 20px;
        }

        &:hover {
          box-shadow: 0 20px darken($green-ts, 10%);
        }

        &:active {
          box-shadow: 0 2px darken($green-ts, 10%);
        }
      }

      .control {
        background-color: $blue-ts;
        box-shadow: 0 10px darken($blue-ts, 10%);

        &::before {
          content: '';
          width: 57px;
          height: 80px;
//          background: url("../../assets/style-control.svg") -9px 0 no-repeat;
          position: absolute;
          display: block;
          top: 2px;
          left: 20px;
        }

        &:hover {
          box-shadow: 0 20px darken($blue-ts, 10%);
        }

        &:active {
          box-shadow: 0 2px darken($blue-ts, 10%);
        }
      }

      .combo {
        background-color: $orange-ts;
        box-shadow: 0 10px darken($orange-ts, 10%);

        &::before {
          content: '';
          width: 59px;
          height: 70px;
//          background: url("../../assets/style-combo.svg") -12px 0 no-repeat;
          position: absolute;
          display: block;
          top: 0;
          left: 20px;
        }

        &:hover {
          box-shadow: 0 20px darken($orange-ts, 10%);
        }

        &:active {
          box-shadow: 0 2px darken($orange-ts, 10%);
        }
      }
    }
  }
}
