/* ####### Buttons ####### */
// ** General style for buttons ** //
.btn {
  border-radius: 0px!important;
  // border-bottom: 3px solid darkgrey!important;
  position: relative;
  box-shadow: 0 3px darken(darkgrey, 10%);
  margin-top: 8px;
  margin-bottom: 10px;

  &:hover {
    @include transition(all 0.15s linear);
    box-shadow: 0 8px darken(darkgrey, 10%);
    margin-top: 0;
    margin-bottom: 14px;
  }

  &:focus {
    outline: none!important;
  }

  &:active {
    box-shadow: 0 1px darken(darkgrey, 10%);
    outline: none;
    margin-top: 6px;
    margin-bottom: -3px;
    @include transition(all 0.15s linear);
  }

  &[disabled] {
    margin-top: 8px;

    &:hover {
      @include transition(none!important);
    }
  }
}

.btn-success {
  border-color: var(--green-ts)!important;
  box-shadow: 0 3px var(--darken-green-ts10);

  &:hover {
    background-color: var(--green-ts)!important;
    box-shadow: 0 6px var(--darken-green-ts10);
  }

  &:active {
    box-shadow: 0 2px var(--darken-green-ts10);
  }
}

.btn-danger {
  border-color: var(--red-ts)!important;
  box-shadow: 0 3px var(--darken-red-ts10);

  &:hover {
    background-color: var(--red-ts)!important;
    box-shadow: 0 6px var(--darken-red-ts10);
  }

  &:active {
    box-shadow: 0 2px var(--darken-red-ts10);
  }
}

.btn-default {
  border-color: var(--orange-ts)!important;
  box-shadow: 0 3px var(--darken-orange-ts5);

  &:hover {
    background-color: var(--lighten-orange-ts10)!important;
    box-shadow: 0 6px var(--darken-orange-ts5);
  }

  &:active {
    box-shadow: 0 2px var(--darken-orange-ts5);
  }
}

.btn-warning {
  border-color: var(--orange-ts)!important;
  box-shadow: 0 3px var(--darken-orange-ts5);

  &:hover {
    background-color: var(--lighten-orange-ts5)!important;
    box-shadow: 0 6px var(--darken-orange-ts5);
  }

  &:active {
    box-shadow: 0 2px var(--darken-orange-ts5);
  }
}

// ** enhanced check ** //

// base
.enhancedCheck input[type="radio"] + label,
.enhancedCheck input[type="checkbox"] + label {
  background-color: transparent;
  color: var(--main-color)!important;
  &:hover{
    border: 1px solid var(--main-color) !important;
    background-color: var(--orange-ts);
    color: var(--white) !important;
    @include transition(all ease 0.6s);
  }
}

// checked
.enhancedCheck input[type="radio"]:checked + label,
.enhancedCheck input[type="checkbox"]:checked + label {
  background-color: var(--main-color);
  color: var(--orange-ts) !important;
}

// enhanced check star ; icon ★ ✩
.enhancedCheck.enhancedCheck-star {
  @include enhancedCheckSpec("\2605", var(--orange-ts));
}

// enhanced check wild ; icon ω
.enhancedCheck.enhancedCheck-wild {
  @include enhancedCheckSpec("\03c9", var(--serie-wild));
}

//rounded icon
.enhancedCheck input[type="radio"] {
  + label:before {
    content: "\25CF" !important;
    font-size: 20px !important;
    line-height: 28px !important;
    color: transparent;
  }
  &:checked + label:before {
    color: var(--main-color);
  }
}

// ** input group buttons ** //
.input-group-btn {
  padding: 0;
  & button {
    background-color: #ccc;
    color: black;
    border: 1px solid #aaa;
    padding: 8px 12px;
    &:last-child {
      border-top-right-radius: 5px;
      border-bottom-right-radius: 5px;
    }
  }
}
