/* ####### Buttons ####### */
// ** General style for buttons ** //
.btn {
  border-radius: 0px!important;
  // border-bottom: 3px solid darkgrey!important;
  position: relative;
  box-shadow: 0 3px darken(darkgrey, 10%);
  margin-top: 4px;
  margin-bottom: 10px;

  &:hover {
    @include transition(all 0.15s linear);
    box-shadow: 0 8px darken(darkgrey, 10%);
    margin-top: 0;
    margin-bottom: 14px;
  }

  &:focus {
    outline: none!important;
  }

  &:active {
    box-shadow: 0 1px darken(darkgrey, 10%);
    outline: none;
    margin-top: 6px;
    margin-bottom: -3px;
    @include transition(all 0.15s linear);
  }

  &[disabled] {
    margin-top: 8px;

    &:hover {
      @include transition(none!important);
    }
  }
}

.btn-success {
  border-color: $green-ts!important;
  box-shadow: 0 3px darken($green-ts, 10%);

  &:hover {
    background-color: $green-ts!important;
    box-shadow: 0 6px darken($green-ts, 10%);
  }

  &:active {
    box-shadow: 0 2px darken($green-ts, 10%);
  }
}

.btn-danger {
  border-color: $red-ts!important;
  box-shadow: 0 3px darken($red-ts, 10%);

  &:hover {
    background-color: $red-ts!important;
    box-shadow: 0 6px darken($red-ts, 10%);
  }

  &:active {
    box-shadow: 0 2px darken($red-ts, 10%);
  }
}

.btn-default {
  border-color: $orange-ts!important;
  box-shadow: 0 3px darken($orange-ts, 5%);

  &:hover {
    background-color: lighten($orange-ts, 10%)!important;
    box-shadow: 0 6px darken($orange-ts, 5%);
  }

  &:active {
    box-shadow: 0 2px darken($orange-ts, 5%);
  }
}

.btn-warning {
  border-color: $orange-ts!important;
  box-shadow: 0 3px darken($orange-ts, 5%);

  &:hover {
    background-color: lighten($orange-ts, 5%)!important;
    box-shadow: 0 6px darken($orange-ts, 5%);
  }

  &:active {
    box-shadow: 0 2px darken($orange-ts, 5%);
  }
}

// ** enhanced check ** //

// base
.enhancedCheck input[type="radio"] + label,
.enhancedCheck input[type="checkbox"] + label {
  background-color: transparent;
  color: $main-color !important;
  &:hover{
    border: 1px solid $main-color !important;
    background-color: $orange-ts;
    color: $white !important;
    @include transition(all ease 0.6s);
  }
}

// checked
.enhancedCheck input[type="radio"]:checked + label,
.enhancedCheck input[type="checkbox"]:checked + label {
  background-color: $main-color;
  color: $orange-ts !important;
}

// enhanced check star ; icon ★ ✩
.enhancedCheck.enhancedCheck-star {
  @include enhancedCheckSpec("\2605", $orange-ts);
}

// enhanced check wild ; icon ω
.enhancedCheck.enhancedCheck-wild {
  @include enhancedCheckSpec("\03c9", $serie-wild);
}


//rounded icon
.enhancedCheck input[type="radio"]:not(:checked) + label:hover:before,
.enhancedCheck input[type="radio"]:checked + label:before {
  content: "\25CF" !important;
  font-size: 24px !important;
  line-height: 27px !important;
}


// ** Selection class buttons ** //
.btn-class.btn-pick {
  position: relative;
  margin-left: 60px;

  &:active:focus {
    outline: none;
  }

  &:focus {
    outline: none;
  }

  &::before {
    content: '';
    position: absolute;
    display: block;
    width: 80px;
    height: 80px;
    @include transition(0.5s);
    @include transform(scale(0.65));
    border-radius: 50%;
    left: -74px;
    top: -25px;
    //    background: url('../../assets/icones_classes.png') 0 0 no-repeat;
  }

}




// ** Dual buttons ** //
.duelButtons {
  .btn-success {
    padding-right: 30px;
    position: relative;

    svg {
      position: absolute;
      top: 6px;
      right: 7px;
    }
  }

  .btn-warning {
    padding-right: 30px;
    position: relative;

    svg {
      position: absolute;
      top: 8px;
      right: 7px;
    }
  }
}

// ** input group buttons ** //
.input-group-btn {
  padding: 0;
  & button {
    background-color: #ccc;
    color: black;
    border: 1px solid #aaa;
    padding: 8px 12px;
    &:last-child {
      border-top-right-radius: 5px;
      border-bottom-right-radius: 5px;
    }
  }
}
