/* ####### Buttons ####### */
.btn-class.btn-pick {
  position: relative;
  margin-left: 60px;

  &:active:focus {
    outline: none;
  }

  &::before {
    content: '';
    position: absolute;
    display: block;
    width: 80px;
    height: 80px;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    border-radius: 50%;
    -ms-transform: scale(0.65);
    -webkit-transform: scale(0.65);
    transform: scale(0.65);
    left: -74px;
    top: -25px;
  }
}

.druid::before {
  background: url('/static/icones_classes.png') -160px -160px no-repeat;
}

.paladin::before {
  background: url('/static/icones_classes.png') -280px -160px no-repeat;
}

.mage::before {
  background: url('/static/icones_classes.png') -40px -160px no-repeat;
}

.priest::before {
  background: url('/static/icones_classes.png') -40px -280px no-repeat;
}

.hunter::before {
  background: url('/static/icones_classes.png') -40px -40px no-repeat;
}

.warlock::before {
  background: url('/static/icones_classes.png') -160px -40px no-repeat;
}

.shaman::before {
  background: url('/static/icones_classes.png') -280px -40px no-repeat;
}

.rogue::before {
  background: url('/static/icones_classes.png') -280px -280px no-repeat;
}

.warrior::before {
  background: url('/static/icones_classes.png') -160px -280px no-repeat;
}
