
.chart {
    // background-color: $brown-ts;
    background-color: $brown-ts;
    border-radius: 25px;
    padding: 20px;
    margin-bottom: 20px;

    h2 {
      //color: $orange-ts;
     // border-bottom: 1px solid $orange-ts;
      color: $orange-ts;
      border-bottom: 1px solid $orange-ts;
      margin-top: 0;
      padding-bottom: 15px;
    }

}
