
.tsCharts {
  margin-top: -55px;
}

.chart {
  // background-color: $brown-ts;
  // border-radius: 25px;

  h3 {
    color: $orange-ts;
    border-bottom: 1px solid $orange-ts;
    margin-top: 0;
    padding: 5px;
    margin-bottom: 0;
  }

  i {
    // margin-bottom: 0;
  }

}

.routerBack {
  position: fixed;
  bottom: 0;
  left: 0;
}