.hero {
    display:block;
    width: 150px; height: 150px;
//    background: url('../../assets/classes_sprite.png') 0 0 no-repeat;
    cursor: pointer;
    padding: 75px;
    -ms-transform: scale(0.8); /* IE 9 */
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
    -webkit-transition: 0.5s;
    transition: 0.5s;
    border-radius: 50%;
    box-shadow:inset 0px 0px 1px 6px white, 1px 1px 8px 0 rgba(1,1,1,0.5);
    /*box-shadow:3px 3px 15px 0 rgba(1,1,1,0.5);*/
}

.hero:hover {
  -ms-transform: scale(1); /* IE 9 */
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: 0.5s;
  transition: 0.5s;
  box-shadow:inset 0px 0px 1px 6px white, 1px 1px 10px 0 rgba(1,1,1,0.5);
}

.hero-label {
  cursor:pointer;
}
