/* ** Deck Type Set ** */
.deckTypeSet {
        .starCheck {
            display: inline-block;
        }

        button {
                margin-top: -5px;

                &:hover {
                        margin-top: -8px;
                }

                &:active {
                        margin-top: 0px;
                }
        }
}
