/* ** Deck Type Show ** */
.deckTypeContent,.deckContent {
  padding: 0;

  .deckTypeContainer,.deckContainer {

    .deckTypeShow,.deckShow {

      .stats {
        font-size: 11px;
        text-align: left;
        text-transform: uppercase;
        margin-left: 8px;
        margin-bottom: 0;
      }

      .score {
        font-weight: bold;
      }

      .deckTypeActions,.deckActions {
        height: 60px;
        width: 285px;
        background-color: rgba(0, 0, 0, 0.5);
        border-radius: 50px 0 0 50px;
        position: absolute;
        top: 0;
        left: 10px;
        z-index: 10;
        @media (min-width: 768px) {
          width: calc(100% - 20px);
        }
      }

    }

    .deckArchetype {
      &-aggro {
        @include boxShadowDeckArchetype(var(--red-ts));
      }

      &-control {
        @include boxShadowDeckArchetype(var(--blue-ts));
      }

      &-midrange {
        @include boxShadowDeckArchetype(var(--green-ts));
      }

      &-combo {
        @include boxShadowDeckArchetype(var(--orange-ts));
      }
    }

    .deckSerie {
      &-standard {
        @include boxShadowDeckSerie(var(--serie-standard));
      }

      &-wild {
        @include boxShadowDeckSerie(var(--serie-wild));
      }
    }
  }
}

.deckTypeFiltered,.deckFiltered {
  height: 50px;
  line-height: 50px;
  border: 1px solid transparent;
  cursor: pointer;
  &:hover {
    border: 1px solid var(--orange-ts);
  }

  .deckTypeShowSimple,.deckShow {
    display: inline-block;
    line-height: 1.5;
    vertical-align: middle;
  }
  &.genericDeckType {
    font-style: italic;
    color: #888888;
  }
}

.deckTypeList,.deckList {
  margin-bottom: 20px;
  height: 180px;
  overflow-y: scroll;
}

.deckEdition {
  margin-top: -55px;
}
