/* ** Forms ** */
.form-group-double {
  .first-form-field {
    padding-left: 0;
    padding-right: 0;
    margin-bottom: 5px;
  }
  .enhancedCheck {
    margin-top: -5px;
    position: absolute;
    right: 0;
  }
}

.manageForm {
  max-width: 600px;
}

.form-group {
  margin-bottom: 5px;
}

.v-select.single.open {
  .selected-tag {
    left: 0;
  }
  input {
    float: left;
  }
}

.int-pm {
  .int-pm-value {
    font-size: 2em;
    padding: 10px 30px !important;
  }

  .int-pm-btn {
    font-size: 1.5em;
    color: white !important;
    &.int-pm-increment {
      background: var(--green-ts !important;
      &.disabled {
        background: var(--green-ts-light !important;
      }
    }
    &.int-pm-decrement {
      background: var(--red-ts !important;
      &.disabled {
        background: var(--red-ts-light !important;
      }
    }
  }
}
