
/* Main Style */
body {
  padding-bottom: 50px;
  position: relative;

  hr {
    border-top: 1px dotted var(--main-color)!important;
    margin-top: 5px;
    margin-bottom: 5px;
  }

  h2 {
    margin-top: 10px;
  }

  h3 {
    margin-top: 10px;
    font-size: 20px;
  }

  footer {
    position: absolute;
    bottom:0;
    width: 100%;
    color: var(--white);
    background-color: var(--brown-ts);
    padding: 15px 0;

    p {
      margin: 0;
      a{
        color: var(--orange-ts);
        text-decoration: none;
      }
      &::before {
        content:'';
      }
      span {
        color: var(--white);
      }
    }
  }
}

#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: var(--main-color);
  margin-top: 55px;
}
