
/* Main Style */
body {
  background-color: $main-bg!important;
  padding-bottom: 50px !important;
  position: relative;

    footer {
      position: absolute;
      bottom:0;
      width: 100%;
      color: $white;
      background-color: $brown-ts;
      padding: 15px 0;

      p {
        margin: 0;
        a{
          color: $orange-ts;
          text-decoration: none;
        }
        &::before {
          content:'';
        }
        span {
          color: $white;
        }
      }
    }
  }

#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: $main-color;
  margin-top: 55px;
}
