/* ** MIXINS ** */

//transitions
@mixin transition($transition) {
  -webkit-transition: $transition;
  -moz-transition: $transition;
  -ms-transition: $transition;
  -o-transition: $transition;
  transition: $transition;
}

//transform
@mixin transform($transforms) {
  -moz-transform: $transforms;
  -o-transform: $transforms;
  -ms-transform: $transforms;
  -webkit-transform: $transforms;
  transform: $transforms;
}

//Bow shadow for deck serie
@mixin boxShadowDeckSerie($color) {
  -webkit-box-shadow: inset 0 0 5px 5px $color;
  -moz-box-shadow: inset 0 0 5px 5px $color;
  box-shadow: inset 0 0 5px 5px $color;
}
