/* ####### Modals ####### */
.sweet-modal {
  text-align: center;
  .sweet-title > h2 {
    margin-top: 19px;
  }

  .sweet-box-actions {
    top: 16px;
    width: 30px;
    right: 20px;
    height: 30px;

    .sweet-action-close {
      width: 30px;
      height: 30px;

      svg {
        margin-top: 3px;
      }

      &:hover {
        width: 30px;
        height: 30px;
      }
    }
  }
}

/* ####### Popover/tooltip ####### */
.ts-tooltip {
  z-index: 10000;
}
