/* ####### Modals ####### */
.sweet-modal {
  text-align: center;
  .sweet-title {
    padding: 0;
    height: 40px;
    line-height: 40px;
    & > h2 {
      margin-top: 10px;
    }
  }

  .sweet-box-actions {
    top: 0;
    .sweet-action-close {
      width: 40px;
      height: 40px;
    }
  }

  .sweet-buttons {
    padding-top: 5px;
    padding-bottom: 5px;
    button {
      margin-left: 10px;
    }
  }
}

/* ####### Popover/tooltip ####### */
.ts-tooltip {
  z-index: 10000;
}

/* ####### NESTED MODALS ####### */
.sweet-content-content {
  .sweet-modal-overlay {
    z-index: 9101;
    position: fixed;
    top: -10px;
    left: -70px;
  }
}
/* hmmm blurred text in modals with nest,
and i found that translation with 49% instead of default's 50 fix it.
Can't get it though... */
.sweet-modal.is-visible {
  -webkit-transform: translate(-49%, -49%);
  transform: translate(-49%, -49%);
}
