/* ####### Modals ####### */
.sweet-modal {
  text-align: center !important;
  .sweet-title {
    padding: 0 !important;
    height: 40px !important;
    line-height: 40px !important;
    & > h2 {
      margin-top: 10px !important;
    }
  }

  .sweet-box-actions {
    top: 0 !important;
    .sweet-action-close {
      width: 40px !important;
      height: 40px !important;
    }
  }

  .sweet-buttons {
    padding-top: 5px !important;
    padding-bottom: 5px !important;
    button {
      margin-left: 10px !important;
      &.away-button {
        float: left !important;
        margin-right: 10px !important;
        margin-left: 0 !important;
      }
    }
  }

  .sweet-content {
    padding-top: 5px !important;
    padding-bottom: 5px !important;
    .detailStats >div >p {
      margin-bottom: 0 !important;
    }
  }
  &.is-alert .sweet-content {
    padding-top: 40px !important;
    padding-bottom: 40px !important;
  }

}

/* ####### Popover/tooltip ####### */
.ts-tooltip {
  z-index: 10000;
  margin-top: -70px !important;
}

/* ####### NESTED MODALS ####### */
// we had some issues with nested modals, misaligned.
// On re-align, issue with blurry text.
// library use translate transformation, so I remove every transform
.sweet-modal {
  width: 90% !important;
  max-height: 90% !important;
  top: 5% !important;
  left: 5% !important;
  transform: none !important;
  -webkit-transform: none !important;
  @media (max-width: 768px) {
    height: 90% !important;
  }
  &.is-visible {
    transform: none !important;
    -webkit-transform: none !important;
  }
}
