/* ####### Global ####### */

table {
  text-align: center;
  margin: auto;
  td,th {
    padding: 5px;
    border: 1px solid var(--orange-ts50);
  }
  tr:hover td {
    background-color: var(--grey-light);
  }
  th {
    text-align: center;
    color: var(--black);
    // first col th (first row is overloaded below)
    background: linear-gradient(to left, var(--white), var(--secondary-light));
  }
  tr:first-child th {
    // first row th
    background: linear-gradient(to top, var(--white), var(--secondary-light));
  }
  tr.midheader th {
    // first row th
    background: linear-gradient(to top, var(--white), var(--secondary-light));
  }
  td {
    &.nocell {
      border: none;
    }
  }
}
