
/* #### MAIN COLORS #### */

// $main-color : #2c3e50;
$main-color : #454545;
$main-bg : #F7E9D7;
//$main-bg : #E8D3B7;
//$main-bg : #F2E1CB;
$brown-ts : #463C3B;
$orange-ts : #D3921F;

$green-ts : #4CAE4C;
$red-ts : #D43F3A;
$blue-ts: #089FA0;

$black: #000;
$white: #FFF;
