
/* #### MAIN COLORS #### */
:root {
--main-color : #54524B;
//--main-color : #454545;
--main-bg : #EBE6D7;
--second-bg : #CAC6B8;
// --main-bg : #F7E9D7;
// var(--second-bg : #DECAAF;
//var(--main-bg : #F2E1CB;
--brown-ts : #463C3B;
--brown-ts75 : rgba(70,60,59,0.75);
--brown-ts50 : rgba(70,60,59,0.5);
--brown-ts25 : rgba(70,60,59,0.25);
--orange-ts : #ED8A19;
// #D3921F;
--lighten-orange-ts5 : lighten(#ED8A19, 5%);
--lighten-orange-ts10 : lighten(#ED8A19, 10%);
--darken-orange-ts5 : darken(#ED8A19, 5%);
--darken-orange-ts10 : darken(#ED8A19, 10%);
--orange-ts75 : rgba(211,146,31,0.75);
--orange-ts50 : rgba(211,146,31,0.5);
--orange-ts25 : rgba(211,146,31,0.25);
--secondary : #2c3e50;
--secondary-light : #617487;
--secondary-dark : #0C2032;

--green-ts : #4CAE4C;
--darken-green-ts10 : darken(#4CAE4C, 10%);
--red-ts : #D43F3A;
--darken-red-ts10 : darken(#D43F3A, 10%);
--blue-ts: #089FA0;
--darken-blue-ts10 : darken(#089FA0, 10%);

--green-ts-light: #7CC47C;
--red-ts-light: #DF736F;
--blue-ts-light: #4BB9B9;

--rarity-common: #A1ADA9;
--rarity-rare: #0F76DD;
--rarity-epic: #B436C6;
--rarity-legendary: #F8A525;

--serie-standard: #CEB06B;
--serie-wild: #6F6046;

--black: #000;
--black-ts45: rgba(0,0,0,0.45);
--white: #FFF;
--grey-light : #EEE;

}
